.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #1b263b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #e0e1dd;
  display: block;
  transition: 0.3s ease-in-out;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
    display: relative;
    justify-content: center;
    align-items: center;
  position: absolute;
  margin: 15px;
  cursor: pointer;
  background-color: #ffcf33;
  justify-content: center;
  color: #0c111d;
  padding: 10px 15px;
  border: none;
  transition: 0.1s ease-in-out;
}

.openbtn:hover {
    transform: scale(1.1);
  }

.openbtn img {
    max-height: 100%;
    max-width: 100%;
  }

.rounded-btn {
    margin-right: 15px;
    border-radius: 50%;
  }

  /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
.sidebar.open {
  width: 200px;
}